### 문자열 함수

In [1]:
# 문자열을 대 소문자 변경
a_text= 'Hello world'
# upper():모든 문자열을 대문자로 변경
print((a_text.upper()))
# lower():모든 문자열을 소문자로 변경
print(a_text.lower())
# swapcase():대문자를 소문자로 소문자를 대문자로 변경
print(a_text.swapcase())
# tille():단어의 첫글자를 대문자료
print(a_text.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [2]:
# 공백을 제거하는 함수
# strip(): 문자열의 좌우의 공백을 제거
# lstrip():문자열 좌측의 공백
# rstrip():우측 공백
b_text=' Hello world '
print(b_text)

 Hello world

In [3]:
b_text

' Hello world '

In [4]:
# 좌우의 공백을 제거
b_text.strip()
# 변수없이 입력후 실행하면 결과값이 나온다-테스트결과 확인
# 변수에 대입하면 안나옴

'Hello world'

In [11]:
b_text.lstrip()

'Hello world '

In [10]:
b_text.rstrip()
# 여러개를 쓰면 마지막꺼만 뜬다

' Hello world'

In [7]:
c_text = '$$Hello%%'
print(c_text)

$$Hello%%

In [8]:
# 좌측의 $를 제거
c_text.lstrip('$')

'Hello%%'

In [9]:
c_text.rstrip('%')

'$$Hello'

In [12]:
# replace({치환할 문자열},{치환될 문자열})
c_text='Hello World'
c_text.replace('Hello','Hi')

'Hi World'

In [13]:
# replace()함수를 이용하여 문자열의 공백을 제거
d_text='  Hello World  '
d_text

'  Hello World  '

In [14]:
d_text.replace(' ','')

'HelloWorld'

In [15]:
# split() : 특정한 문자열을 이용하여 문쟈열을 나눠주는 함수
e_text='a,b,c,d'
e_text.split(',')

['a', 'b', 'c', 'd']

In [16]:
f_text='a/b/c/d'
f_text.split('/')

['a', 'b', 'c', 'd']

### 함수
어떠한 입력값을 가지고 작업을 실행하고 결과물을 출력한다.

In [6]:
# 매개변수가 존재하지 않는 함수를 생성
# 매개변수가 없으면 함수는 동일한 행동을 반복
def func_1():
    result='Hello'
    return result

In [7]:
print(func_1())
print(func_1())
print(func_1())

Hello
Hello
Hello

In [3]:
# 매개변수가 존재하는 함수를 행성
def func_2(a,b):
    result=a+b
    return result

In [4]:
# 매개변수가 2개인 함수를 호출 --> 해당하는 함수를 호출 할때는 인자의 개수가 2개
print(func_2(4,5))  # 9
print(func_2(1,2))  # 3

9
3

In [5]:
# error code
# 매개변수의 개수와 인자의 개수를 다르게 호출하는 경우
print(func_2(5))

TypeError: func_2() missing 1 required positional argument: 'b'

In [8]:
# 함수를 생성할 때 매개변수에 기본값을 지정
def func_3(a,b=2):
    result = a**b
    return result

In [9]:
print(func_3(5,3))  # 125
print(func_3(8)) # 64

125
64

In [10]:
def func_4(input_x,input_y):
    result = input_x - input_y
    return result

In [11]:
print(func_4(10,3)) # 7
print(func_4(input_y=10,input_x=3)) # -7

7
-7

In [4]:
# 함수를 생성
# 매개변수는 2개 -> start,end
# start부터 시작해서 end까지 누적합 출력
# start의 기본값은 1, end의 기본값은 10
def func_5(start=1,end=10):
    # 합계라는 초기 값은 0으로 지정
    result=0

    # start부터 end까지 반복하는 반복문 생성
    for i in range(start,end+1,1):
        result+=i
        
    # for문 종료 후
    return result
# 만약 return이 for문 안에 있게되면 1한번만 더해지고 종료된다.return은 함수를 종료하는 의미이기도 하므로 함수가 끝나버려 for문도 끝

In [5]:
print(func_5())

55

In [38]:
print(func_5(end=100))

5050

In [7]:
# 1부터 100까지의 누적합 도중 합계가 3000이 넘어가는 최초의 숫자를 구할때
# 합계 초기값 지정 0
sum_result=0

for i in range(1,101):
    sum_result+=i
    # 합계가 3000보다 큰 경우
    if sum_result>3000:
        break
print(i)
print(sum_result)

77
3003

In [8]:
# 1부터 1씩 증가시켜서 누적합이 150000이 되는 순간의 수는?
i=1
sum_result=0

while True:
    sum_result+=i
    if sum_result > 150000:
        break
    i+=1
print(i)
print(sum_result)

548
150426

In [9]:
# 함수 생성
# 매개변수 2개 생성
# 매개변수 사이의 값들의 누적합을 출력하는 함수
def func_7(x,y):
    result=0
    # x보다 y가 큰 경우 
    if x < y:
        for i in range(x,y+1):
            result+=i
    # x보다 y가 작거나 같은 경우
    else:
        for i in range(y,x+1):
            result+=i

    return result

In [10]:
print(func_7(1,10))

55

In [11]:
print(func_7(10,1))

55

In [12]:
def func_8(x,y):
    result=0
    # 시작값이 x와 y중 작은값
    # 종료값은 x와 y중 큰 값에 +1
    # 숫자 데이터들 중 가장 작은 데이터를 출력하는 함수 : min()
    # 숫자 데이터들 중 가장 큰 데이터를 출력하는 함수 : max()
    for i in range(min(x,y),max(x,y)+1,1):
        result+=i
    return result

In [13]:
print(func_8(1,10))
print(func_8(10,1))
print(func_8(5,5))

55
55
5

In [14]:
min(3,1,10)

1

In [40]:
# 인자의 개수가 가변인 경우의 함수를 생성
def func_9(*args):
    print(type(args))
    print(args)
    # print(len(args))
    # 인자값들 중 첫번째 데이터를 변수에 대입
    result=args[0]
    # 인자 값들 중 두번째 데이터부터 반복을 하는 반복문 생성
    for i in range(1,len(args)):
        # result와 args[i]항목을 비교
        if result > args[i]:
            result = args[i]
    return result

In [41]:
func_9(1,2,3,4,5)
func_9(2,4,6,8)
func_9(1,2,3,4,5,6,7,8,9,10)

<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>
(2, 4, 6, 8)
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

1

In [42]:
print(func_9(50,49,55,42))

<class 'tuple'>
(50, 49, 55, 42)
42

### 예제문제
1. 함수를 생성 -> 인자의 개수는 가변
2. 인자값의 평균 값을 출력하는 함수
    1. 모든 인자값들을 더한다.
    2. 더한 데이터를 인자의 개수로 나눠준다.
    3. 나온 결과값을 되돌려준다.

In [43]:
def func_avg(*args):  # ver1 (내꺼)
    sum_num=0
    for i in args:
        sum_num+=i
    return sum_num / len(args)

In [44]:
print(func_avg(1,2,3,4,5))
print(func_avg(12,34,56,77))
print(func_avg(10,20,30,40))

3.0
44.75
25.0

In [45]:
def func_10(*a):  # ver 2
    result=0
    for i in range(len(a)):
        result+=a[i]
        
    return result/len(a)

In [46]:
print(func_10(1,2,3,4,5))
print(func_10(12,34,56,77))
print(func_10(10,20,30,40))

3.0
44.75
25.0

In [47]:
def func_10(*a):  # ver3
    result=sum(a)
    return result/len(a)

In [48]:
print(func_10(1,2,3,4,5))
print(func_10(12,34,56,77))
print(func_10(10,20,30,40))

3.0
44.75
25.0

In [49]:
# in 연산자 : 비교 연산자 (포함 유무)

10 in [11,50,70]

False

In [50]:
_list=[11,50,70]
(11 == _list[0]) or (11 == _list[1]) or (11 == _list[2])

True

In [51]:
# 인자의 개수가 가변이 아닌 형태의 함수를 생성
# 매개변수에 자료형 데이터를 인자값으로 입력하는 경우

# 자료형 데이터를 입력받아 각 원소들의 제곱된 값을 새로운 리스트로 생성하여 되돌려준다.
def func_11(x):
    # x는 자료형 데이터가 들어온다.

    # 결과값은 새로운 리스트를 생성하여 값들을 추가
    result=[]
    
    # x의 원소들을 하나씩 추출하여 제곱한 뒤 result에 추가
    i=0
    while i < len(x):
        data = x[i]**2 
        result.append(data)
        i+=1
    return result

In [52]:
print(func_11([1,2,3,4]))

[1, 4, 9, 16]

In [53]:
# map함수
# map({호출할 함수명},{자료형 데이터})

# 일반 함수를 생성
def change(x):
    print(type(x))
    result = x ** 2
    return result

In [54]:
list(map(
    change,[1,2,3,4]
))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

[1, 4, 9, 16]

In [55]:
# lambda 함수 : 함수를 생성함과 동시에 호출, 단독으로보다는 map과 함깨 쓰면 코드를 단축할수 있다
# lambda 매개변수명 : 실행될 코드
list(
    map(
        lambda x :x**2,
        [1,2,3,4]
    )
)

[1, 4, 9, 16]

In [56]:
def change2(a):
    result = a **2
    return result

In [57]:
_list = [1,2,3,4]
result=[]

for i in _list:
    #print(i)
    result.append(change2(i))
print(result)

[1, 4, 9, 16]

### 변수의 종류
1. 전역 변수
    - 어디서든 사용이 가능한 변수
    - 함수의 내 외부 어디서든 사용이 가능
    
2. 지역 변수 (휘발성) - 메모리 공간의 절약을 위해
    - 해당하는 지역에서만 사용이 가능한 변수
    - 함수 내부, 클래스 내부에서 생성한 변수들을 지역변수
    - 해당하는 지역에서 벗어나면 사용이 불가능한 휘발성 변수

3. 매개 변수
    - 함수를 생성할 때 함수 내부에서 사용하는 변수의 이름
    - 해당하는 함수에서만 사용이 가능
    - 함수 외부에서는 사용이 불가능
    - 지역변수의 일종이다

In [58]:
# 전역변수를 생성

test_a = 'Hello'

In [59]:
print(test_a)

Hello

In [60]:
# 지역변수 생성
def func_12():
    func_12_result = 'World'
    print(func_12_result)
    print(test_a)
    return test_a + func_12_result

In [61]:
# 새로운 전역변수를 생성
test_b=func_12()

World
Hello

In [62]:
print(test_a)
print(test_b)
print(func_12_result)

Hello
HelloWorld

NameError: name 'func_12_result' is not defined

In [ ]:
def func_13(input_a,input_b):
    result = input_a + input_b
    return result

In [ ]:
test_c = func_13(10,5)
print(test_c)

15

In [ ]:
print(input_a)
print(input_b)

NameError: name 'input_a' is not defined